<% include head %>
<div class="addObjectForm">
    <form action="/addCategory" method="POST" >
    <% if (typeof data != 'undefined') { %>   <input type="text" class="width100" placeholder="id" name="id" value="<%= data.id %>" > <% } %>
      <input type="text" class="width100" placeholder="name" name="name" <% if (typeof data != 'undefined') { %> value="<%= data.name %>" <% } %> >
      <button type="submit" class="btn btn-success btn-round btn-xs pull-right">Submit</button>
    </form>
    <a href="/manageCategories" class="btn btn-info btn-round btn-xs"> Back </a>
</div>
<% include foot %>
