<% include head %>


	<div class="row" style="padding-top: 20px;">
		<div class="col-sm-4">
			<a href="/places" >
	            <img src="assets/img/french_restaurant.jpg" alt="Rounded Image" class="img-rounded img-responsive">
	            <div  class="btn btn-info btn-round btn-lg">Manage places</div>
            </a>
        </div>
		<div class="col-sm-4">
			<a href="/manageCategories" >
	            <img src="assets/img/better-blog-categories.jpg" alt="Rounded Image" class="img-rounded img-responsive">
	            <div  class="btn btn-info btn-round btn-lg">Manage categories</div>
            </a>
        </div>
        <div class="col-sm-4">
			<a href="/generateJson" >
	            <img src="assets/img/json.jpg" alt="Rounded Image" class="img-rounded img-responsive">
	            <div  class="btn btn-info btn-round btn-lg">Generate JSON</div>
            </a>
        </div>
    </div>

   
<% include foot %>
