<% include head %>
  <a href="/places" class="btn btn-info btn-round btn-lg">Manage places</a>
  <a href="/manageCategories" class="btn btn-info btn-round btn-lg">Manage categories</a>
<% include foot %>
